/* logo styles */

.logo {
    width: 50%;
}

/* styles for my icon with my picture */

.tina {
    height:10%;
}

body {
    background-color: black;
    color: white;
}

/* styles for nav */

img.ico {
    height: 1vw;
    text-decoration: none;
}


a.myNav {
    text-decoration: none;
    color: yellow;
    background-color: deepskyblue;
    padding: 10px;
    border: 2px solid yellow;
    border-radius: 5px;
    box-shadow: 0 1px 6px lightblue, 0 1px 4px blue;
}

.myNav:hover {
    color: deepskyblue;
    text-decoration: none;
    background-color: yellow;
    border: 2px solid deepskyblue;
}

/* footer styles */

.footr {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: deepskyblue;
    color: black;
    text-align: center;
    font-size: 1vw;
    padding: 5px;
}

/* homepage styles */

.home-head {
    background-color: deepskyblue;
    color: black;
    border-radius: 5px;
}

.steelText {
    color: white;
    font-size: 1.5vw;
}

.vertImg {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.blueBox {
    background-color: yellow;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: black;
}

.portImg{
    width: 35%;
}
.caroSize{
    margin-top: 50px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid deepskyblue;
    border-radius: 4px;
}


/* CONTACT POPUP */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: deepskyblue;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 28px;
  width: 150px;
  font-weight: 600;
  font-size: 1vw;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 15px;
  border: 2px solid deepskyblue;
  z-index: 9;
  width: 45%;
  border-radius: 5px;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: black;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: yellow;
}



.form-container input[type=text]:hover {
  background-color: deepskyblue;
  color: white;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: deepskyblue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  margin-top: 15px;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: yellow;
  width: 100%;
  color: black;
}
textarea {
    width: 100%;
    background-color: yellow;
    color: black;
}

textarea:hover {
    background-color: deepskyblue;
    color: white;
}

.btn:hover {
  background-color: yellow;
  color: white;
}

.cancel:hover {
  background-color: deepskyblue;
  color: white;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* END CONTACT POPUP */

@media (max-width: 767px) {
        .hidden-mobile {
          display: none;
        }



